.fl
    display: flex
    justify-content: space-between
    align-items: center
    width: 500px
    padding-top: 37px
    padding-bottom: 38px
    padding-left: 0
    color: #000
    &__text
        font-size: 18px
        line-height: 22px
        +bold
    &__sudtitle
        font-size: 18px
        line-height: 22px
        +reg
    &__title
        font-size: 18px
        line-height: 22px
        +reg
.fl-icon
    margin-left: 10px
    