.footer
    display: flex
    justify-content: space-between
    background-color: $color-bg-footer


.bl-1
    padding-top: 83px
    padding-left: 80px
    &__text
        font-size: 48px
        line-height: 59px
        padding-bottom: 26px
        +bold

    &__title
        font-size: 28px
        line-height: 91.2%
        padding-bottom: 92px
        +reg
        // width: 40%

.bl-2
    // widows: 60%


.button
    padding: 20px 75px
    margin-right: 80px
    margin-top: 91px
    margin-left: 12px
    border-radius: 10px
    background-color: $lolor-btn-form
    color: $color-text
.checkbox
    margin-top: 24px
.email
    padding: 20px 30px 
    border-radius: 10px   


