.wrap
    display: flex
    justify-content: center
    align-items: center
.head
    background: url('../img/head.jpg')
    background-repeat: no-repeat
    background-position: 50% 50%
    max-width: 1280px
    width: 100%
    position: relative

// .head::before
//     content: ''
//     background: rgba(31, 32, 33, 0.473)
//     background-repeat: no-repeat                    звтемнеение фона 
//     background-position: 50% 50%
//     max-width: 1280px
//     width: 100%
//     position: relative


.nav
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 39px
    &__logo
        z-index: 1


    &__title



    &__phone
        position: relative
        z-index: 1
        color: $color-text
        +reg
        font-weight: bold
        font-size: 24px
        line-height: 29px

    &__text
        font-size: 15px
        line-height: 22px
        text-align: right

    &__subtitle
        position: relative
        z-index: 1
        +reg
        margin-top: 30px
        margin-bottom: 66px
        font-weight: bold
        font-size: 36px
        line-height: 46px

    &__menu
        display: flex
        justify-content: space-around
        font-size: 18px
        padding-right: 240px
        line-height: 22px
    &__menu li
        margin: 30px
    &__menu li a
        color: #ffffff
        +reg



    
    







