.wrap
    display: flex
    justify-content: center
    align-items: center
.head
    background: url('../img/head.jpg')
    background-repeat: no-repeat
    background-position: 50% 50%
    max-width: 1280px
    width: 100%
    position: relative


.head:after 
  content: ''
  position: absolute
  top: 6px
  left: 0
  right: 0
  bottom: 6px
  background: rgba(0,0,0,.5)
  z-index: 2

.menu-link
    display: none



.nav
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 39px
    &__logo
        z-index: 3


    &__title



    &__phone
        position: relative
        z-index: 3
        color: $color-text
        +reg
        font-weight: bold
        font-size: 24px
        line-height: 29px

    &__text
        font-size: 15px
        line-height: 22px
        text-align: right

    &__subtitle
        position: relative
        z-index: 3
        +reg
        margin-top: 30px
        margin-bottom: 66px
        font-weight: bold
        font-size: 36px
        line-height: 46px

    &__menu
        display: flex
        justify-content: space-around
        font-size: 18px
        padding-right: 240px
        line-height: 22px
        z-index: 3

    &__menu li
        margin: 30px
    &__menu li a
        color: #ffffff
        +reg



    // бургер
.m-menu 
	width: 27px
	height: 27px
	background-color: transparent
	/* display: flex; */
	flex-direction: column
	justify-content: space-around
	display: none


.m-menu .line 
	width: 100%
	height: 1px
	background-color: #fff



// .menu-link
// 	position: relative
// 	left: 20px
// 	top: 20px
// 	background-color: #fff
// 	width: 50px
// 	height: 50px
// 	border-radius: 50%
// 	box-shadow: 1px 1px 10px rgba(255, 255, 255, .3)

// .menu-link span 
// 	position: absolute
// 	width: 20px
// 	height: 2px
// 	background-color: #000
// 	top: 50%
// 	left: 50%
// 	margin-top: -1px
// 	margin-left: -10px

// .menu-link span:nth-child(1) 
// 	transform: translateY(-6px)

// .menu-link span:nth-child(3) 
// 	transform: translateY(6px)

// .menu-link:hover 
// 	cursor: pointer

// .menu-link:hover span:nth-child(3) 
// 	transform-origin: 0% 0%
// 	transform: translateY(6px) rotate(-33deg)
// 	width: 10px
// 	margin-left: 0

// .menu-link:hover span:nth-child(1) 
// 	transform-origin: 0% 0%
// 	transform: translateY(-6px) rotate(31deg)
// 	width: 12px
// 	margin-left: 0

    


@media (max-width: 1200px)
    .nav
        &__menu
            padding-right: 150px
        &__phone
            font-size: 25px
        &__subtitle
            font-size: 30px
@media (max-width: 960px)
    .nav
        &__logo 
            img
                width: 60px
        &__menu
            padding-right: 50px
            font-size: 15px

        &__phone
            font-size: 20px
        &__subtitle
            font-size: 25px
            
@media (max-width: 720px)
    .nav
        &__logo 
            margin-left: 60px
            img
                width: 60px
        &__menu
            padding-right: 30px
            font-size: 15px

        &__phone
            display: none
        &__text
            display: none
                
        &__subtitle
            font-size: 25px
            margin-left: 60px


@media (max-width: 540px)
    .m-menu
        display: flex
        z-index: 3
        cursor: pointer
    .head:after 
        content: ''
        position: absolute
        top: 6px
        left: 0
        right: 0
        bottom: 0
        background: rgba(0,0,0,.5)
        z-index: 2
    .nav
        &__logo 
            margin-left: 0px
            img
                width: 60px
        &__menu
            display: none


        &__phone
            display: inline
                
        &__subtitle
            font-size: 25px
            margin-left: 0

        &__title
            margin-right: 15px    


                


    







